.nav{
	padding: 10px 0;
	
	}
.nav a{
	padding:10px;
	text-decoration: none;
	
	}
.banner1{
	background: #43e6ff;
	padding: 10px 0;
	width: 100%;
	
	}
.people{
	margin: 5% 12%;
	}
.person{
	display:inline-block;
	padding: 10px;
	}